{% load static %}
{% block body_block %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Page</title>
    <link rel="stylesheet" href="{% static 'css/style2.css'  %}">
</head>
<body><br><br>
<nav class="one">
    <a href="/index">Home</a>
    <a href="/skill" class="active">Skills</a>
    <a href="/projects">Projects</a>
    <a href="/resume">Resume</a>
    <a href="/about">About Me</a>
</nav><br><br>
<div class="two">
    <hr>
    <h1>Tools And Technologies:</h1>
    <h2>HTML</h2>
    <h2>CSS</h2>
    <h2>JAVASCRIPT</h2>
    <h2>PYTHON</h2>
    <h2>DJANGO</h2>
    <h2>MYSQL</h2>
    <h2>BOOTSTRAP</h2>
    <h2>GIT/GITHUB</h2>
    <h2>WEB HOST</h2>
    <h2>TYPING</h2>
    <h2>REST API</h2><br><hr>
</div>
</body>
{% endblock %}
</html>